In [25]:
import pandas as pd

file_path = "betyg_o_prov_riksnivå.xlsx" # Read the file
df = pd.read_excel(file_path, sheet_name=None) # Create a DataFrame, sheet_name = None to read all sheets




cleaned_df = {}
for sheet_name, sheet_df in df.items():
    df_clean = sheet_df.dropna(how='all') # Drop rows where all cells are NA
    df_clean = df_clean.dropna(axis=1, how='all') # Drop columns where all cells are NA
    df_clean = df_clean.iloc[10:] # Drop the first 10 rows
    
    cleaned_df[sheet_name] = df_clean # Save the cleaned DataFrame in a dictionary

for sheet, df in cleaned_df.items():
    print(sheet)
    print(df.head())
    print()

Tabell 1A
   Grundskolan – Betyg och Prov – Riksnivå Unnamed: 1 Unnamed: 2 Unnamed: 3  \
12                                 2021/22     120525      58513      62012
13                                 2022/23     121369      59043      62326
14                                   därav        NaN        NaN        NaN
15                                  Kommun      96204      46478      49726
16                                   därav        NaN        NaN        NaN

   Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9
12     119891      58207      61684     117935      57312      60623
13     120742      58703      62039     118736      57781      60955
14        NaN        NaN        NaN        NaN        NaN        NaN
15      95991      46363      49628      94276      45588      48688
16        NaN        NaN        NaN        NaN        NaN        NaN

Tabell 1B
   Grundskolan – Betyg och Prov – Riksnivå Unnamed: 1 Unnamed: 2 Unnamed: 3  \
11                                 2022/23      220.6      229.7      211.9
12                                   därav        NaN        NaN        NaN
13                                  Kommun      216.1      225.6      207.2
14                                 Enskild      237.9        245      230.8
15                                   därav        NaN        NaN        NaN

   Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9
11      228.5      238.2      219.3       26.8       25.5         28
12        NaN        NaN        NaN        NaN        NaN        NaN
13      223.6      233.8      214.1       28.9       27.4       30.3
14      247.2      254.8      239.7       18.7       18.4         19
15        NaN        NaN        NaN        NaN        NaN        NaN

Definitioner
   Förklaringar och definitioner till tabell 1 A–B Unnamed: 1 Unnamed: 2  \
14                                             NaN        NaN        NaN
16        * Genomsnittligt meritvärde med 17 ämnen        NaN        NaN
17                                             NaN        NaN        NaN
18                                             NaN        NaN        NaN
20                                             NaN        NaN        NaN

                                           Unnamed: 5
14                                        320 poäng.
16  Meritvärdet beräknas genom att summan av betyg...
17  samt betyg i moderna språk som språkval (E=10,...
18               Det möjliga maxvärdet är 340 poäng.
20  Det genomsnittliga meritvärdet beräknas för de...